<table>
<tbody>
<% @matches.each do |match| %>
<%

team_1 = match.team_1
team_2 = match.team_2
score_1 = match.t1_scores
score_2 = match.t2_scores

%>
<tr id="match-<%= match.id %>" class="match-header">
	<th colspan="2"><%= link_to match.map, match %></th>
	<th colspan="5"><%= time_ago_in_words match.start %> ago</th>
	<th colspan="5"><%= distance_of_time_in_words match.start, match.rounds.last.end %> long</th>
</tr>
<tr class="match-table">
	<th rowspan="2"><%= link_to score_1[0] + score_1[1], match %></th>
	<th><%= link_to score_1[0], match %></th>
	<% team_1.each do |p| %>
		<td colspan="2" rowspan="2"><%= link_to p.bot.name, p.bot %></td>
	<% end %>
</tr>
<tr class="match-table">
	<th><%= link_to score_1[1], match %></th>
</tr>
<tr class="match-table">
	<th rowspan="2"><%= link_to score_2[0] + score_2[1], match %></th>
	<th><%= link_to score_2[0], match %></th>
	<% team_2.each do |p| %>
		<td colspan="2" rowspan="2"><%= link_to p.bot.name, p.bot %></td>
	<% end %>
</tr>
<tr class="match-table">
	<th><%= link_to score_2[1], match %></th>
</tr>
<% end %>
</tbody>
</table>
